.container {
  max-width: 1170px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 1090px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
