.widget {
  position: relative;
  border-radius: 30px;
  background: #fff;
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  * {
    position: relative;
    z-index: 2;
  }
  &:hover {
    .explore-btn {
      opacity: 1;
    }
  }
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
    object-fit: cover;
    border-radius: 30px;
    width: 100%;
    height: 100%;
  }

  &-img {
    display: block;
    margin: auto auto 16px auto;
  }
}

.explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;

  &-info {
    margin-right: 15px;
    h1 {
      font-size: 22px;
      color: #0f0f0f;
      opacity: 0.9;
      font-weight: 500;
      margin: 0;
    }
    p {
      color: #bcbcbc;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 2px;
      margin-top: 5px;
    }
  }

  &-btn {
    opacity: 0.2;
    transition: 0.3s;
    display: inline-block;
  }
}

.overlay-link {
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

@media (max-width: 1090px) {
  .widget {
    padding: 20px;
  }

  .widget-img {
    height: auto;
  }
}

@media (max-width: 585px) {
  .widget {
    width: 100%;
  }
}
