.mt-24 {
  margin-top: 24px;
}
.credentials-works {
  > div {
    flex: 1;
    width: 50%;
  }
}

.blog-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 920px) {
  .client-contact-wrapper {
    width: 100%;
  }
  .profile-wrapper {
    flex: 0 0 auto;
    width: 100%;
  }

  .notes-services {
    flex-wrap: wrap;

    > div {
      width: calc(50% - 12px);

      &:nth-child(2) {
        order: 3;
      }
    }
  }
}

@media (max-width: 520px) {
  .notes-services > div,
  .credentials-works > div {
    width: 100%;
    flex: none;
  }
}
