.section-heading-mobile {
  display: none;
}

.section-heading {
  margin-bottom: 15px;
  justify-content: center;
}

@media (max-width: 767px) {
  .project-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-right {
    flex-direction: column;

    .project-item {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 650px) {
  .section-heading-mobile {
    display: flex;
    margin-bottom: 40px;
  }
  .project-row {
    grid-template-columns: 1fr;

    .section-heading {
      display: none;
    }
  }
}

.project-right {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
