.breadcrumb {
  &-area {
    padding-top: 77px;
  }

  &-content {
    p {
      color: #bcbcbc;
      text-transform: uppercase;
      margin-bottom: 24px;
    }
  }

  &-heading {
    font-size: 56px;
    position: relative;
    display: block;
    margin-bottom: 30px;
  }
}
