.services {
  &-list {
    flex: 1;
  }
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 56px;
    margin-top: 46px;

    i {
      font-size: 40px;
      color: var(--primary-color);
    }
  }
}
