.services {
  &-list {
    flex: 1;
  }
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 56px;
    margin-top: 46px;

    i {
      font-size: 40px;
      color: var(--primary-color);
    }
  }
}

@media (max-width: 1090px) {
  .services-icon {
    margin-bottom: 39px;
    margin-top: 31px;
  }
}

@media (max-width: 920px) {
  .services-icon {
    gap: 40px;
  }
}

@media (max-width: 425px) {
  .services-icon {
    gap: 25px;
    i {
      font-size: 30px;
    }
  }
}
